turnio_webhook_mensagens.json
{
  "name": "Turn.io - Webhook Mensagens (Supabase)",
  "nodes": [
    {
      "parameters": {
        "content": "## 📥 Turn.io – Webhook de Mensagens\n\n**Endpoint para configurar no Turn.io:**\n`POST /webhook/turn-mensagens-webhook`\n\n**URL completa:**\n`https://n8n.projetosimip.online/webhook/turn-mensagens-webhook`\n\n---\n\n### O que esse fluxo faz:\n1. Recebe TODAS as mensagens do Turn.io\n2. Responde `200 OK` imediatamente (obrigatório)\n3. Processa mensagens **inbound** (do paciente) e\n   atualizações de **status** (sent/delivered/read)\n4. Salva/atualiza no Supabase via upsert\n\n---\n\n### Tabela no Supabase:\n`mensagens_whatsapp`\n\n### Campos salvos:\n- `message_id` – ID único da mensagem\n- `wa_id` – Número do contato\n- `contact_name` – Nome (quando disponível)\n- `direction` – `inbound` ou `outbound`\n- `type` – Tipo da mensagem\n- `content` – Texto / caption / template\n- `status` – sent / delivered / read / failed\n- `timestamp` – Horário da mensagem\n- `raw` – Payload original completo\n\n---\n⚠️ Configure este webhook na aba\n**Settings → Webhooks** do Turn.io.\nUse o token de credencial\n**Supabase Anon Key** (Header Auth).",
        "height": 640,
        "width": 400,
        "color": 5
      },
      "id": "d1e2f3a4-0009-0009-0009-000000000009",
      "name": "Documentação",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, -500]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "turn-mensagens-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d1e2f3a4-0001-0001-0001-000000000001",
      "name": "Webhook Turn.io",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "turn-io-mensagens-webhook-001"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"status\": \"ok\" }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "d1e2f3a4-0002-0002-0002-000000000002",
      "name": "Responder 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [460, 160]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\n\nconst registros = [];\n\n// ── 1. MENSAGENS INBOUND (enviadas pelo paciente) ──────────────\nif (body.messages && Array.isArray(body.messages)) {\n  const contacts = body.contacts || [];\n\n  for (const msg of body.messages) {\n    const wa_id = msg.from || '';\n\n    // Busca nome do contato\n    const contato = contacts.find(c => c.wa_id === wa_id) || {};\n    const contact_name = contato.profile?.name || null;\n\n    // Extrai conteúdo baseado no tipo\n    let content = null;\n    const tipo = msg.type || 'text';\n\n    if (tipo === 'text') {\n      content = msg.text?.body || null;\n    } else if (tipo === 'image') {\n      content = msg.image?.caption || msg.image?.id || null;\n    } else if (tipo === 'audio') {\n      content = msg.audio?.id || null;\n    } else if (tipo === 'video') {\n      content = msg.video?.caption || msg.video?.id || null;\n    } else if (tipo === 'document') {\n      content = msg.document?.caption || msg.document?.filename || msg.document?.id || null;\n    } else if (tipo === 'sticker') {\n      content = msg.sticker?.id || null;\n    } else if (tipo === 'location') {\n      content = `${msg.location?.latitude},${msg.location?.longitude}` || null;\n    } else if (tipo === 'button') {\n      content = msg.button?.text || null;\n    } else if (tipo === 'interactive') {\n      content = msg.interactive?.button_reply?.title ||\n                msg.interactive?.list_reply?.title ||\n                JSON.stringify(msg.interactive) || null;\n    } else {\n      content = JSON.stringify(msg);\n    }\n\n    // Converte timestamp Unix → ISO\n    let timestamp = null;\n    if (msg.timestamp) {\n      timestamp = new Date(parseInt(msg.timestamp) * 1000).toISOString();\n    }\n\n    registros.push({\n      message_id: msg.id || null,\n      wa_id,\n      contact_name,\n      direction: 'inbound',\n      type: tipo,\n      content,\n      status: null,\n      timestamp,\n      raw: msg\n    });\n  }\n}\n\n// ── 2. STATUS UPDATES (confirmações de entrega das nossas msgs) ─\nif (body.statuses && Array.isArray(body.statuses)) {\n  for (const st of body.statuses) {\n    const timestamp = st.timestamp\n      ? new Date(parseInt(st.timestamp) * 1000).toISOString()\n      : null;\n\n    registros.push({\n      message_id: st.id || null,\n      wa_id: st.recipient_id || '',\n      contact_name: null,\n      direction: 'outbound',\n      type: 'status_update',\n      content: null,\n      status: st.status || null,\n      timestamp,\n      raw: st\n    });\n  }\n}\n\n// Se não há nada para processar, retorna lista vazia\nif (registros.length === 0) {\n  return [{ json: { nada_para_salvar: true } }];\n}\n\nreturn registros.map(r => ({ json: r }));"
      },
      "id": "d1e2f3a4-0003-0003-0003-000000000003",
      "name": "Processar Payload Turn.io",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-skip",
              "leftValue": "={{ $json.nada_para_salvar }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d1e2f3a4-0004-0004-0004-000000000004",
      "name": "Tem dados para salvar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://uwwcrulhfrleqlmgmbcm.supabase.co/rest/v1/mensagens_whatsapp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "REPLACE_WITH_SUPABASE_ANON_KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer REPLACE_WITH_SUPABASE_ANON_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  message_id: $json.message_id,\n  wa_id: $json.wa_id,\n  contact_name: $json.contact_name,\n  direction: $json.direction,\n  type: $json.type,\n  content: $json.content,\n  status: $json.status,\n  timestamp: $json.timestamp,\n  raw: $json.raw\n}) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": true
            }
          }
        }
      },
      "id": "d1e2f3a4-0005-0005-0005-000000000005",
      "name": "Salvar no Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 180]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-supabase-ok",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 300,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "cond-supabase-min",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d1e2f3a4-0006-0006-0006-000000000006",
      "name": "Salvou com sucesso?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 180]
    },
    {
      "parameters": {
        "jsCode": "const statusCode = $json.statusCode;\nconsole.log(`[Turn.io Webhook] Mensagem salva no Supabase. Status: ${statusCode}`);\nreturn [{ json: { ok: true, statusCode } }];"
      },
      "id": "d1e2f3a4-0007-0007-0007-000000000007",
      "name": "Log Sucesso",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 80]
    },
    {
      "parameters": {
        "jsCode": "const statusCode = $json.statusCode;\nconst body = $json.body;\nconsole.error(`[Turn.io Webhook] ERRO ao salvar no Supabase. Status: ${statusCode}`, JSON.stringify(body));\nreturn [{ json: { ok: false, statusCode, erro: body } }];"
      },
      "id": "d1e2f3a4-0008-0008-0008-000000000008",
      "name": "Log Erro Supabase",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    }
  ],
  "connections": {
    "Webhook Turn.io": {
      "main": [
        [
          {
            "node": "Responder 200 OK",
            "type": "main",
            "index": 0
          },
          {
            "node": "Processar Payload Turn.io",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Payload Turn.io": {
      "main": [
        [
          {
            "node": "Tem dados para salvar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem dados para salvar?": {
      "main": [
        [
          {
            "node": "Salvar no Supabase",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Salvar no Supabase": {
      "main": [
        [
          {
            "node": "Salvou com sucesso?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvou com sucesso?": {
      "main": [
        [
          {
            "node": "Log Sucesso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Erro Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "turn-io-webhook-mensagens-supabase"
}
